<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="true">
<listeners> 
<listener class-name="com.info.TestRunner.Listner"/>
 </listeners>
	<test name="Test">
		<parameter name="title" value="Mrs" />
		<parameter name="fname" value="aniket" />
		<parameter name="lname" value="Sharma" />
		<parameter name="email" value="asharma@gmail.com" />
		<parameter name="mobile" value="9898989898" />
		<parameter name="area_address" value="Aundh" />
		<parameter name="cityname" value="Pune"/>
		<parameter name="State" value="Maharastra"/>
		<parameter name="pincode" value="414502"/>
		<parameter name="name" value="Pravin"/>
		<parameter name="SorceAc" value="32534455"/>
		<parameter name="DestAc" value="3234566"/>
		<parameter name="AmountTrans" value="12000"/>	
		<parameter name="uname" value="Aniket"/>
		<parameter name="upassword" value="Pune"/>
	
		<classes>
			<class name="com.info.TestRunner.MainTest" />
		</classes>


	</test> 
	<test name ="regression"></test><!-- Test -->
</suite> <!-- Suite -->
